.header__btn:link,
.header__btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    font-size: 1.7rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
      }
    &::after {
        content: ""; /*mandatory field */
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
      }
      &:hover::after {
        transform: scale(1.5);
        opacity: 0; /*fade out */
       }
  }

  .header__btn--white {
    background: #fff;
    color: #777;

    .header__btn::after {
        border-color: #fff;
    }
}
  